@use '@/styles/variables.scss' as *;

.modalTitle {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: $color-primary;
  margin-bottom: 10px;
}

.timeInput {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
}
