.admin-dashboard {
  padding: 20px;
}

.green {
  color: #10a9a0;
}

.delete {
  color: #f13b3ba9;
  &:hover {
    color: red;
  }
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  gap: 1.5rem;
}

.create-question-btn {
  background-color: #6b5d86;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  margin-left: auto;
  display: block;
  &:hover {
    cursor: pointer;
  }
}
