.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  :global(.ant-form-item-explain) {
    display: flex;
    text-align: left;
  }
}

.title {
  margin: 10px 0;
  text-align: center;
}

.submit-btn {
  width: 100%;
}

.hint {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 10px;
}
