@use '../variables' as *;

.google-logo {
  width: 30px;
  height: 30px;
  padding: 3px;
}

.google-btn {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  color: $color-text-normal;
  justify-content: center;
}

.google-btn:not(:disabled):not(.ant-btn-disabled) {
  &:hover {
    background-color: transparent;
    color: $color-text-normal;
  }
}
