.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
  & img {
    width: 60px;
    height: 60px;
  }
  & h2 {
    color: #10a9a0;
  }
  & p {
    font-size: 10px;
    margin-top: -7px;
    color: black;
  }
  & :hover {
    cursor: pointer;
  }
}

.navigator {
  display: flex;
  gap: 3rem;
  & p {
    width: 170px;
    height: 40px;
    padding: 7px;
    color: black;
    border-radius: 10px;
    text-align: center;
  }
}

.activate {
  width: 150px;
  height: 40px;
  padding: 7px;
  background-color: #10a9a0;
  color: white !important;
  border-radius: 10px;
  text-align: center;
}

.dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left:1.5rem;
  padding-right:1.5rem;
  & .dropdown-icon {
    vertical-align: 0;
  }
}

.avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.logout-btn {
  padding: 0;
  background-color: transparent;
  border: none;

  &:hover {
    background-color: transparent !important;
  }
}