.readingLayout {
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  gap: 1rem;
}

.questionContainer {
  width: 40%;
  height: calc(99vh - 140px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contextWrapper {
  width: 60%;
  height: calc(99vh - 140px);
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
}

.contextLayout {
  height: 100%;
  text-wrap: stable;
  white-space: pre-wrap;
  text-align: justify;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.singleChoice {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.singleChoiceGroup,
.multiChoiceGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.dropdownGroup,
.dropdownWrapper {
  width: 100%;
}

.singleChoiceWrapper,
.multiChoiceWrapper.dropdownWrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.radio {
  display: flex;
  align-items: center;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}