.webButton {
    padding: 8px;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size:2rem;
}

.webButtonColor3 {
    background-color: #6B5D86;
    color: white;

    &:hover {
        cursor: pointer;
        background-color: #D1AEBB;
    }
}