@use '@/styles/variables.scss' as *;

.tabOneContainer {
  margin-inline: 200px;
}

.tabTwoContainer {
  margin-inline: 20px;
  margin-bottom: 50px;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: $color-primary;
  margin-bottom: 10px;
}

.timeInput {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
  margin-top: 20px;
}

.oddCard {
  background-color: #edfaf7;
  margin-bottom: 5px;
}

.prompt {
  margin-bottom: 0px;
}

.fileInput {
  display: none;
}
