.container {
  padding: 20px;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.create-question-btn {
  background-color: #6b5d86;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  margin-left: auto;
  display: block;
  &:hover {
    cursor: pointer;
  }
}

.attach-btn-group {
  display: flex;
  margin-left: auto;
  width: fit-content;
}
