.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.commentWrapper {
  min-height: 50vh;
  margin-top: 2rem;
  border-radius: 15px;
  border: 1px solid rgba(107, 93, 134, 0.16);
  background-color: #f5f6fa;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
  & p {
    margin-right: auto;
    padding: 10px 0 0 20px;
  }
}
.commentInputWrapper {
  margin-top: 1rem;
  position: relative;
  width: 100%;
  min-height: 8rem;
  border: 1px solid rgba(107, 93, 134, 0.16);
  border-radius: 15px;
  background-color: #f5f6fa;
}
.commentInput {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 8rem;
}
.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: block;
}
.inputAndSendBtn {
  width: calc(100% - 50px - 5rem);
  display: flex;
  gap: 1rem;
  align-items: center;
}
