@use '@/styles/variables.scss' as *;

.container {
  display: grid;
  gap: 20px;
  padding-inline: 60px;
}

.mainContainer {
  background-color: #f5f6fa;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  overflow-y: auto;
}

.practiceContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.title {
  font-size: 40px;
  color: $color-primary;
  text-align: center;
  font-weight: 550;
}

.textLanding {
  font-size: 30px;
  text-align: center;
  font-weight: 450;
}

.timeContainer {
  display: flex;
  justify-content: center;
}

.timeInput {
  font-size: 18px;
  width: 222px;
  height: 40;
  padding: 10px;
  margin: 0 20px;
  color: #383637;
  font-family: $font-family-default;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.primaryButton {
  background-color: $color-btn-primary-bg;
  color: $color-btn-primary-text;
  border: 0;
  border-radius: 10px;
  padding: 10px 30px;
  font-family: $font-family-default;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.redButton {
  background-color: $color-btn-red-bg;
  color: $color-btn-primary-text;
  border: 0;
  border-radius: 10px;
  padding: 10px 30px;
  font-family: $font-family-default;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 20px;
  font-weight: 450px;
}

.textPracticing {
  font-size: 20px;
  text-align: left;
  font-weight: 450px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 25px;
  }
}

.answerHeader {
  display: flex;
  justify-content: space-between;
}

.answerContainer {
  display: flex;
  flex-direction: column;
}

.answerInput {
  font-size: 20px;
  width: auto;
  height: 420px;
  padding: 20px;
  margin-top: 10px;
  color: #000;
  font-family: $font-family-default;
  border-radius: 15px;
  border: 1px solid #000;
}

.chatContainerVisible {
  display: flex;
  flex-direction: column;
  height: 83vh;
  background-color: #eceef9;
  border-radius: 25px;
  padding: 20px 10px;
  position: relative;
}

.closeButton {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.chatContainerHidden {
  display: none;
}

.chatUser {
  display: flex;
  align-items: center;

  .userAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-inline: 10px;
    background-color: #fff9c7;
  }

  .username {
    font-size: 20px;
    font-weight: 500;
    flex-grow: 1;
  }
}

.chatMessage {
  margin-bottom: 10px;
  margin-left: 70px;
}
