.question {
  display: flex;
  width: 100%;
  gap: 10px;
  & img {
    transform: scaleX(-1);
    width: 40px;
    height: 40px;
  }
  align-items: flex-start;
}

.audio-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.next {
  // margin-left: auto;
  margin: auto;
  margin-top: 50px;
  width: fit-content;
  display: block;
}

.test-content {
  display: flex;
  padding: 10px;
}

.question-content {
  width: 60%;
}

.full-width {
  width: 100%;
}

.BS-content {
  width: 40%;
}

.action-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  & button:first-child {
    background-color: #ed1b35;
    border-color: #ed1b35 !important;
    color: white;
    &:hover {
      background-color: #ed1b33b5 !important;
      border-color: #ed1b35 !important;
    }
  }
}

.set-submit {
  margin-left: 50px;
  font-size: 13px;
}

.question-prompt {
  white-space: pre-line;
}

.transcription,
.audio-container {
  margin: auto;
  width: fit-content;
  margin-bottom: 20px;
}

.time {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
